@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h1>JavaScirpt Exercies</h1>
@*Exersise 1*@
    <h3> Exercise 1:</h3>
    <h3 id="datetime"></h3> 
    <br /><br />

@*Exersise 2*@
    <h3> Exercise 2:</h3>
    <label for="year">Enter the year to check it leap or not: </label>
    <input type="number" name="year" id="inputyear" >
    <input type="submit" value="Check!" onclick="getinputyear()">
    <p id="yearoutput"></p>
    <br /><br />

@*Exersise 3*@
    <h3> Exercise 3:</h3>
    <label for="year">Enter the year to check 1 junuary is Sunday or not: </label>
    <input type="number" name="year" id="yearSundayInput" >
    <input type="submit" value="Check!" onclick="getCheckSundayYear()">
    <p id="yearSundayOutput"></p>
    <br /><br />

@*Exersise 4*@
    <h3> Exercise 4:</h3>
    <label>Enter the number between 1-10, to play guessing game: </label>
    <input type="number" name="guessNumber" id="guessingGameInput" >
    <input type="submit" value="Check!" onclick="getCheckGuessingnumber()">
    <p id="guessingGameOutput"></p>
    <br /><br />

@*Exersise 5*@
    <h3> Exercise 5:</h3>
    <p>Days remains to Christmas</p>
    <p id="daysToChristmas"></p>
    <br /><br />

@*Exersise 6*@
    <h3> Exercise 6:</h3>
    <label>Enter a number and get the reverse order: </label>
    <input type="number"  id="reverseNumInput" >
    <input type="submit" value="Submit!" onclick="getReverseNumber()">
    <p id="reverseNumOutput"></p>
    <br /><br />

@*Exersise 7*@
    <h3> Exercise 7:</h3>
    <label>Enter a word then get a combinations of this word: </label>
    <input type="text"  id="wordInput" >
    <input type="submit" value="Get Combination!" onclick="getTextCombination()">
    <p id="wordOutput"></p>
    <br /><br />

@*Exersise 8*@
    <h3> Exercise 8:</h3>
    <label>Enter a word then get a alphabitcal order of its letters: </label>
    <input type="text"  id="input8" >
    <input type="submit" value="Submit!" onclick="getAlphabitical()">
    <p id="output8"></p>
    <br /><br />

@*Exersise 8*@
    <h3> Exercise 8:</h3>
    <label>Enter a word then get a alphabitcal order of its letters: </label>
    <input type="text"  id="input8" >
    <input type="submit" value="Submit!" onclick="getAlphabitical()">
    <p id="output8"></p>
    <br /><br />

@*Exersise 9*@
    <h3> Exercise 9:</h3>
    <label>Get the longest word in this sentense: </label>
    <input type="text"  id="input9" >
    <input type="submit" value="Submit!" onclick="getLongstWord()">
    <p id="output9"></p>
    <br /><br />


@*Exersise 10*@
    <h3> Exercise 10:</h3>
    <label>Enter a number to check whether it is prime or not: </label>
    <input type="number"  id="input10" >
    <input type="submit" value="Submit!" onclick="checkIsPrime()">
    <p id="output10"></p>
    <br /><br />

@*Exersise 11*@
    <h3> Exercise 11:</h3>
    <label>Enter a number to check whether it is prime or not: </label>
    <input type="text"  id="input11" >
    <input type="submit" value="Submit!" onclick="getTypeofVariable()">
    <p id="output11"></p>
    <br /><br />


@*Exersise 12*@
    <h3> Exercise 12:</h3>

    <p id="output12"></p>
    <br /><br />



@*Exersise 13*@
    <h3> Exercise 13:</h3>

    <p id="output13"></p>
    <br /><br />