@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h1>JavaScirpt Exercies</h1>
@*Exersise 1*@
    <h3> Exercise 1:</h3>
    <p id="datetime"></p> 
    <br /><br />
@*Exersise 2*@
    <h3> Exercise 2:</h3>
    <label for="year">Enter the year: </label>
    <input type="number" name="year" id="inputyear" >
    <input type="submit" value="Check!" onclick="getinputyear()">
    <p id="yearoutput"></p>
    <br /><br />
@*Exersise 3*@
    <h3> Exercise 3:</h3>
    
  