@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <h1>JavaScirpt Exercies</h1>
    <p> Exercise 1:</p>
    <p id="datetime"></p> 

    <label for="year">Enter the year: </label>
    <input type="number" name="yaer" id="inputyear" >
    <input type="submit" value="Check!" onclick="getinputyear()">
    <p id="yearoutput"></p>


  